#stream_utils_main {
    position: fixed;
    inset: 10% auto 10% 0;
    z-index: 99999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#stream_utils_btn {
    width: 3rem;
    height: 5rem;
    background: red;
    border: 5px solid yellow;
    border-radius: 1rem;
    box-sizing: border-box;
    opacity: 0.8;
    animation: hide-left 250ms forwards;
}

#stream_utils_btn.visible {
    animation: fly-in-left 250ms forwards;
}

@keyframes fly-in-left {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes hide-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}